.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px 0 10px;
  font-style: italic;
  letter-spacing: 1px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  background-color: hsl(36, 100%, 99%);
  font-family: "Inter", sans-serif;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

#nav-section,
#body-section,
#bottom-section {
  margin: 0;
  font-size: 15px;
}

#nav-section {
  padding: 70px 120px 10px;
}

#body-section {
  padding: 10px 120px 10px;
}

#bottom-section {
  padding: 60px 120px 10px;
}

nav {
  background: hsl(36, 100%, 99%);
  height: 80px;
  width: 100%;
}

.myNav {
  padding: 0;
  margin: 0;
}

.myNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  float: right;
}

.myNav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 0 0 60px;
}

nav ul li a {
  color: hsl(236, 13%, 42%);
}

a:hover {
  color: hsl(5, 85%, 63%);
}

.logo {
  padding-right: 100px;
}

.dropdown {
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

.menuClose {
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

.desktopImg {
  display: block;
}

.mobileImg {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.grid-item-1 {
  grid-column: span 2;
}

.grid-item-2 {
  grid-column: span 1;
  grid-area: 2 / 1;
  color: hsl(240, 100%, 5%);
}

.grid-item-3 {
  grid-column: span 1;
  color: hsl(236, 13%, 42%);
  line-height: 1.5;
  font-size: 16px;
  grid-area: 2 / 2;
  font-style: justify;
  margin-right: 10px;
  line-height: 1.6;
}

.grid-item-4 {
  grid-row: span 2;
  background-color: hsl(240, 100%, 5%);
  color: hsl(35, 77%, 62%);
  padding: 30px;
}

.web3text {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.1;
  margin-right: 70px;
}

button {
  background-color: hsl(5, 85%, 63%);
  color: white;
  padding: 12px 35px;
  border: none;
  margin-top: 20px;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 10px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(240, 100%, 5%);
}

#new {
  background: none;
  font-size: 30px;
  font-weight: 600;
}

#sidebar {
  background: none;
}

.text-title {
  color: white;
  margin-top: 44px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.text-title:hover {
  cursor: pointer;
  color: hsl(35, 77%, 62%);
}

.text-body {
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 20px;
  color: hsl(235, 20%, 78%);
}

hr {
  margin: 35px 0;
}

.numb {
  margin: 0;
  box-sizing: border-box;
  color: hsl(235, 20%, 78%);
  font-weight: bold;
  font-size: 34px;
  position: relative;
  top: 0;
}

.head {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: hsl(240, 100%, 5%);
}

.head:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

.bottom-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item-1,
.item-2,
.item-3 {
  width: 100%;
  height: 100%;
  display: flex;
}

.item-1 img,
.item-2 img,
.item-3 img {
  width: 30%;
}

.item-texts {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 40px;
  justify-content: space-between;
  padding: 8px 0;
}

.item-texts-description {
  text-align: justify;
  line-height: 1.6;
  font-weight: 500;
  color: hsl(236, 13%, 42%);
}

@media (max-width: 375px) {
  .dropdown {
    display: block;
  }

  section {
    padding: 50px 20px;
  }

  #body-section {
    padding: 10px;
  }

  #nav-section {
    padding: 3px 15px;
  }

  .dropdown {
    margin-right: 0;
  }

  .mobileImg {
    display: block;
  }

  .desktopImg {
    display: none;
  }

  .myNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .myNav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 33%;
    text-align: left;
    padding-top: 140px;
    display: none; /* remove to remove display none */
  }

  .myNav ul li {
    display: block;
    line-height: 50px;
  }

  .myNav ul li a {
    font-size: 15px;
    color: hsl(0, 0%, 2%);
    font-weight: bold;
  }

  .myNav ul li a:hover {
    color: hsl(5, 85%, 63%);
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .web3text {
    line-height: 1.1;
    margin-right: 50px;
    font-size: 35px;
  }

  .grid-item-4 {
    margin-top: 2.5em;
  }
}
