.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  background-color: hsl(36, 100%, 99%);
  font-family: "Inter", sans-serif;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

#nav-section {
  margin: 0;
  padding: 70px 120px 10px;
  font-size: 15px;
}

#body-section {
  margin: 0;
  padding: 10px 120px 10px;
  font-size: 15px;
}

nav {
  background: hsl(36, 100%, 99%);
  height: 80px;
  width: 100%;
}

.myNav {
  padding: 0;
  margin: 0;
}

.myNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  float: right;
}

.myNav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 0 0 60px;
}

nav ul li a {
  color: hsl(236, 13%, 42%);
}

a:hover {
  color: hsl(5, 85%, 63%);
}

.logo {
  padding-right: 100px;
}

.dropdown {
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

.menuClose {
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.grid-item-1 {
  grid-column: span 2;
}

.grid-item-2 {
  grid-row: span 2;
  background-color: hsl(240, 100%, 5%);
  color: hsl(35, 77%, 62%);
  padding: 30px;
}

.grid-item-3 {
  grid-column: span 1;
}

.grid-item-4 {
  grid-column: span 1;
  color: hsl(236, 13%, 42%);
  line-height: 1.5;
  font-size: 16px;
}

.web3text {
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
}

button {
  background-color: hsl(5, 85%, 63%);
  color: white;
  padding: 12px 35px;
  border: none;
  margin-top: 15px;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 10px;
}

#new {
  background: none;
  font-size: 30px;
  font-weight: 600;
}

#sidebar {
  background: none;
}

.text-title {
  color: white;
  margin-top: 44px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.text-body {
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 20px;
  color: hsl(235, 20%, 78%);
}

hr {
  margin: 35px 0;
}

@media (max-width: 375px) {
  .dropdown {
    display: block;
  }

  section {
    padding: 50px 20px;
  }

  .myNav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 33%;
    text-align: left;
    padding-top: 140px;
  }

  .myNav ul li {
    display: block;
    line-height: 50px;
  }

  .myNav ul li a {
    font-size: 15px;
    color: hsl(0, 0%, 2%);
    font-weight: bold;
  }

  .myNav ul li a:hover {
    color: hsl(5, 85%, 63%);
  }

  /* .menuClose {
    display: block;
    z-index: -1;
  } */
}
